{% extends "base.html" %}
{% load i18n %}
{% block title %}{% translate "Choose Music" %}{% endblock title %}
{% block content %}
    <h1 class="title is-2 has-text-centered">{% trans "How do you want to choose your song?" %}</h1>
    <div class="columns">
        <div class="column">
            <a href="{% url 'from-youtube' %}" class="button is-large is-fullwidth id-fullheight is-primary">
                <span class="icon is-large"><i class="fa-brands fa-youtube"></i></span>
                <br>
                {% translate "From Youtube" %} 
            </a>
        </div>
        <div class="column">
            <a href="{% url 'song-upload' %}" class="button is-large is-fullwidth id-fullheight is-primary">
                <span class="icon is-large"><i class="fa-solid fa-file"></i></span>
                <br>
                {% translate "From File" %}
            </a>
        </div>
    </div>

{% endblock content %}
