{% extends 'base_with_box.html' %}
{% load i18n %}
{% block title %}
    {% translate "Choose upload method" %}
{% endblock title %}

{% block content %}
    <a href="{% url 'from-youtube' %}" class="button is-large has-tooltip-arrow" data-tooltip="{% translate 'load song from youtube (recommended)' %}">
        Using Youtube
    </a>
    <a href="{% url 'from-file' %}" class="button is-large has-tooltip-arrow" data-tooltip="{% translate 'upload your own song from disk' %}">
        Using File
    </a>
{% endblock content %}