{% extends 'base.html' %}
{% load i18n %}

{% block title %}Abitur 2023 Songuploader{% endblock title %}

{% block content %}
<div class="tile is-ancestor">
    <div class="tile is-parent is-4 is-vertical">
        <div class="tile is-child box has-text-centered">
            <div class="icon is-large">
                <i class="fas fa-2x fa-solid fa-music has-text-{{has_song|yesno:'primary,danger'}}"></i>
            </div>
            <div>
                {% if has_song.song %}
                    <a href="{{has_song.song.url}}">{% translate "Song submitted" %}</a>
                {% elif has_song %}
                    <p>{% trans "Song processing" %}</p>
                {% else %}
                    <a href="{% url 'choose-song' %}">{% translate "Song missing" %}</a>
                {% endif %}
            </div>
        </div>
        <div class="tile is-child box has-text-centered">
            <div class="icon is-large">
                <i class="fas fa-2x fa-solid fa-wrench has-text-secondary"></i>
            </div>
            <p>{% translate "New features coming soon! Stay tuned" %}</p>
        </div>
    </div>
    {% with polls.count as poll_number %}
    <div class="tile is-parent is-vertical">
        <div class="tile is-child box has-text-centered">
            <div class="icon is-large">
                <i class="fas fa-2x fa-solid fa-poll {% if poll_number > 0 %}has-text-danger{% else %}has-text-primary{% endif %}"></i>
            </div>
            {% comment %} <p class="has-text-weight-bold mb-3"></p> {% endcomment %}
            {% if poll_number > 5 %}
                <a href="">{% trans "All Polls" %}</a>
            {% endif %}
            <aside class="menu">
                <p class="menu-label">
                    {% blocktrans %}{{poll_number}} polls need your attention{% endblocktrans %}
                </p>
                <ul class="menu-list">
                {% for poll in polls|slice:":5" %}
                    <li>
                        <a href="{% url 'poll-start' poll.id %}">
                            {% blocktrans %}Answer {{poll}}{% endblocktrans %}
                        </a>
                    </li>
                {% empty %}
                    <p>{% trans "Please remind your friends to view their polls" %}</p>
                {% endfor %}
                </ul>
            </aside>
        </div>
    </div>
    {% endwith %}
</div>
{% endblock content %}