{% extends 'base_with_box.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% load i18n %}

{% block title %}Login{% endblock title %}
{% block content %}
<div><img src="{% static 'png/cap.png' %}" alt="" class="image is-one-third"></div>
<form action="." method="post">
    {% crispy form %}
</form>
<a class="button is-link is-outlined is-fullwidth mt-3" href="{% url 'password-reset' %}">{% trans "Forgot password?" %}</a>
{% endblock content %}

{% block scripts %}
    <script>
        const urlParams = new URLSearchParams(window.location.search);
        const pageSize = urlParams.get('redirect_to');

        document.querySelector("#redirect_to").value = pageSize;
    </script>
{% endblock scripts %}