annotated-types==0.7.0 ; python_version >= "3.13" and python_version < "4.0"
ansible-core==2.20.6 ; python_version >= "3.13" and python_version < "4.0"
ansible==13.7.0 ; python_version >= "3.13" and python_version < "4.0"
asgiref==3.11.1 ; python_version >= "3.13" and python_version < "4.0"
astroid==4.0.4 ; python_version >= "3.13" and python_version < "4.0"
black==26.5.1 ; python_version >= "3.13" and python_version < "4.0"
bleach==6.3.0 ; python_version >= "3.13" and python_version < "4.0"
certifi==2026.5.20 ; python_version >= "3.13" and python_version < "4.0"
cffi==2.0.0 ; python_version >= "3.13" and python_version < "4.0" and platform_python_implementation != "PyPy"
charset-normalizer==3.4.7 ; python_version >= "3.13" and python_version < "4.0"
click==8.4.1 ; python_version >= "3.13" and python_version < "4.0"
colorama==0.4.6 ; python_version >= "3.13" and python_version < "4.0" and (platform_system == "Windows" or sys_platform == "win32")
coverage==7.14.0 ; python_version >= "3.13" and python_version < "4.0"
crispy-bulma==0.9.0 ; python_version >= "3.13" and python_version < "4.0"
cryptography==48.0.0 ; python_version >= "3.13" and python_version < "4.0"
debugpy==1.8.20 ; python_version >= "3.13" and python_version < "4.0"
dill==0.4.1 ; python_version >= "3.13" and python_version < "4.0"
django-appconf==1.2.0 ; python_version >= "3.13" and python_version < "4.0"
django-cleanup==9.0.0 ; python_version >= "3.13" and python_version < "4.0"
django-compressor==4.6.0 ; python_version >= "3.13" and python_version < "4.0"
django-crispy-forms==2.6 ; python_version >= "3.13" and python_version < "4.0"
django-dbbackup==5.3.0 ; python_version >= "3.13" and python_version < "4.0"
django-extensions==4.1 ; python_version >= "3.13" and python_version < "4.0"
django-filter==25.2 ; python_version >= "3.13" and python_version < "4.0"
django-picklefield==3.4.0 ; python_version >= "3.13" and python_version < "4.0"
django-pictures==1.7.5 ; python_version >= "3.13" and python_version < "4.0"
django-prometheus==2.5.0.dev13 ; python_version >= "3.13" and python_version < "4.0"
django-q2==1.10.0 ; python_version >= "3.13" and python_version < "4.0"
django-tinymce==5.0.0 ; python_version >= "3.13" and python_version < "4.0"
django==6.0.5 ; python_version >= "3.13" and python_version < "4.0"
gunicorn==26.0.0 ; python_version >= "3.13" and python_version < "4.0"
idna==3.16 ; python_version >= "3.13" and python_version < "4.0"
isort==8.0.1 ; python_version >= "3.13" and python_version < "4.0"
jinja2==3.1.6 ; python_version >= "3.13" and python_version < "4.0"
lance-namespace-urllib3-client==0.7.7 ; python_version >= "3.13" and python_version < "4.0"
lance-namespace==0.7.7 ; python_version >= "3.13" and python_version < "4.0"
markupsafe==3.0.3 ; python_version >= "3.13" and python_version < "4.0"
mccabe==0.7.0 ; python_version >= "3.13" and python_version < "4.0"
mypy-extensions==1.1.0 ; python_version >= "3.13" and python_version < "4.0"
mysqlclient==2.2.8 ; python_version >= "3.13" and python_version < "4.0"
numpy==2.4.6 ; python_version >= "3.13" and python_version < "4.0"
packaging==26.2 ; python_version >= "3.13" and python_version < "4.0"
pandas==3.0.3 ; python_version >= "3.13" and python_version < "4.0"
pathspec==1.1.1 ; python_version >= "3.13" and python_version < "4.0"
pillow==12.2.0 ; python_version >= "3.13" and python_version < "4.0"
platformdirs==4.9.6 ; python_version >= "3.13" and python_version < "4.0"
prometheus-client==0.25.0 ; python_version >= "3.13" and python_version < "4.0"
pyarrow==24.0.0 ; python_version >= "3.13" and python_version < "4.0"
pycparser==3.0 ; python_version >= "3.13" and python_version < "4.0" and platform_python_implementation != "PyPy" and implementation_name != "PyPy"
pydantic-core==2.46.4 ; python_version >= "3.13" and python_version < "4.0"
pydantic==2.13.4 ; python_version >= "3.13" and python_version < "4.0"
pylance==6.0.1 ; python_version >= "3.13" and python_version < "4.0"
pylint-django==2.7.0 ; python_version >= "3.13" and python_version < "4.0"
pylint-plugin-utils==0.9.0 ; python_version >= "3.13" and python_version < "4.0"
pylint==4.0.5 ; python_version >= "3.13" and python_version < "4.0"
python-dateutil==2.9.0.post0 ; python_version >= "3.13" and python_version < "4.0"
python-dotenv==1.2.2 ; python_version >= "3.13" and python_version < "4.0"
pytokens==0.4.1 ; python_version >= "3.13" and python_version < "4.0"
pyyaml==6.0.3 ; python_version >= "3.13" and python_version < "4.0"
rcssmin==1.2.2 ; python_version >= "3.13" and python_version < "4.0"
requests==2.34.2 ; python_version >= "3.13" and python_version < "4.0"
resolvelib==1.2.1 ; python_version >= "3.13" and python_version < "4.0"
rjsmin==1.2.5 ; python_version >= "3.13" and python_version < "4.0"
six==1.17.0 ; python_version >= "3.13" and python_version < "4.0"
sqlparse==0.5.5 ; python_version >= "3.13" and python_version < "4.0"
tinycss2==1.4.0 ; python_version >= "3.13" and python_version < "4.0"
tomlkit==0.15.0 ; python_version >= "3.13" and python_version < "4.0"
tqdm==4.67.3 ; python_version >= "3.13" and python_version < "4.0"
typing-extensions==4.15.0 ; python_version >= "3.13" and python_version < "4.0"
typing-inspection==0.4.2 ; python_version >= "3.13" and python_version < "4.0"
tzdata==2026.2 ; python_version >= "3.13" and python_version < "4.0" and (sys_platform == "win32" or sys_platform == "emscripten")
urllib3==2.7.0 ; python_version >= "3.13" and python_version < "4.0"
webencodings==0.5.1 ; python_version >= "3.13" and python_version < "4.0"
yt-dlp==2026.3.17 ; python_version >= "3.13" and python_version < "4.0"
