ansicon==1.89.0 ; python_version >= "3.10" and python_version < "4" and platform_system == "Windows"
arrow==1.2.3 ; python_version >= "3.10" and python_version < "4"
asgiref==3.7.2 ; python_version >= "3.10" and python_version < "4.0"
bleach[css]==6.0.0 ; python_version >= "3.10" and python_version < "4.0"
blessed==1.20.0 ; python_version >= "3.10" and python_version < "4"
certifi==2023.5.7 ; python_version >= "3.10" and python_version < "4.0"
charset-normalizer==3.1.0 ; python_version >= "3.10" and python_version < "4.0"
colorama==0.4.6 ; python_version >= "3.10" and python_version < "4.0" and platform_system == "Windows"
crispy-bulma==0.9.0 ; python_version >= "3.10" and python_version < "4.0"
debugpy==1.6.7 ; python_version >= "3.10" and python_version < "4.0"
django-cleanup==7.0.0 ; python_version >= "3.10" and python_version < "4.0"
django-crispy-forms==2.0 ; python_version >= "3.10" and python_version < "4.0"
django-dbbackup==4.0.2 ; python_version >= "3.10" and python_version < "4.0"
django-extensions==3.2.3 ; python_version >= "3.10" and python_version < "4.0"
django-filter==23.2 ; python_version >= "3.10" and python_version < "4.0"
django-picklefield==3.1 ; python_version >= "3.10" and python_version < "4"
django-pictures==1.1.2 ; python_version >= "3.10" and python_version < "4.0"
django-prometheus==2.3.1 ; python_version >= "3.10" and python_version < "4.0"
django-q==1.3.9 ; python_version >= "3.10" and python_version < "4"
django-tinymce==3.6.1 ; python_version >= "3.10" and python_version < "4.0"
django==4.2.2 ; python_version >= "3.10" and python_version < "4.0"
gunicorn==20.1.0 ; python_version >= "3.10" and python_version < "4.0"
idna==3.4 ; python_version >= "3.10" and python_version < "4.0"
jinxed==1.2.0 ; python_version >= "3.10" and python_version < "4" and platform_system == "Windows"
mysqlclient==2.1.1 ; python_version >= "3.10" and python_version < "4.0"
numpy==1.25.0 ; python_version >= "3.10" and python_version < "4.0"
pandas==1.5.3 ; python_version >= "3.10" and python_version < "4.0"
pillow==9.5.0 ; python_version >= "3.10" and python_version < "4.0"
prometheus-client==0.17.0 ; python_version >= "3.10" and python_version < "4.0"
python-dateutil==2.8.2 ; python_version >= "3.10" and python_version < "4.0"
python-dotenv==1.0.0 ; python_version >= "3.10" and python_version < "4.0"
pytube @ git+https://github.com/Suitox93/pytube.git@patch-1 ; python_version >= "3.10" and python_version < "4.0"
pytz==2023.3 ; python_version >= "3.10" and python_version < "4.0"
redis==3.5.3 ; python_version >= "3.10" and python_version < "4"
requests==2.31.0 ; python_version >= "3.10" and python_version < "4.0"
setuptools==68.0.0 ; python_version >= "3.10" and python_version < "4.0"
six==1.16.0 ; python_version >= "3.10" and python_version < "4.0"
sqlparse==0.4.4 ; python_version >= "3.10" and python_version < "4.0"
tinycss2==1.1.1 ; python_version >= "3.10" and python_version < "4.0"
tqdm==4.65.0 ; python_version >= "3.10" and python_version < "4.0"
typing-extensions==4.6.3 ; python_version >= "3.10" and python_version < "3.11"
tzdata==2023.3 ; python_version >= "3.10" and python_version < "4.0" and sys_platform == "win32"
urllib3==2.0.3 ; python_version >= "3.10" and python_version < "4.0"
wcwidth==0.2.6 ; python_version >= "3.10" and python_version < "4"
webencodings==0.5.1 ; python_version >= "3.10" and python_version < "4.0"
