[Unit]
Description=gunicorn daemon
Requires=gunicorn.socket
After=network.target

[Service]
User=gunicorn
Group=gunicorn
WorkingDirectory={{ django_dir }}
ExecStart={{ repo_dir }}/.venv/bin/gunicorn \
    --log-level debug \
    --capture-output \
    --access-logfile /var/log/gunicorn/access.log \
    --error-logfile /var/log/gunicorn/error.log \
    --workers 4 \
    --timeout 120 \
    --bind unix:/run/gunicorn.sock \
    songuploader.wsgi:application
ExecReload=/bin/kill -s HUP $MAINPID
KillMode=mixed
TimeoutStopSec=5
PrivateTmp=true

[Install]
WantedBy=multi-user.target