{% load i18n %}
<div id="{{modal_name}}" class="modal">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">{% blocktrans %}Information{% endblocktrans %}</p>
      <button class="delete" aria-label="close"></button>
    </header>
    <section class="modal-card-body">
        {{content}}
    </section>
    <footer class="modal-card-foot">
    <button class="button is-info">{% trans "Close" %}</button>
    </footer>
  </div>
</div>