{% load i18n %}
{% load extensions %}

<nav class="pagination is-centered" role="navigation" aria-label="pagination">
  <a class="pagination-previous  {% if not page_obj.has_previous %}is-disabled{% endif %}" {% if page_obj.has_previous %}href="?{% param_replace page=page_obj.previous_page_number %}"{% endif %}>{% trans "Previous" %}</a>
  <a class="pagination-next  {% if not page_obj.has_next %}is-disabled{% endif %}" {% if page_obj.has_next %}href="?{% param_replace page=page_obj.next_page_number %}"{% endif %}>{% trans "Next page" %}</a>
  <ul class="pagination-list">
    {% if page_obj.paginator.num_pages > 4 %}
        {% if page_obj.number > 1 %}
            <li>
                <a class="pagination-link" aria-label="Goto page 1" href="?{% param_replace page=1 %}">1</a>
            </li>
            <li>
                <span class="pagination-ellipsis">&hellip;</span>
            </li>
        {% endif %}
        <li>
            <a class="pagination-link is-current" aria-label="Page {{page_obj.number}}" aria-current="page">{{page_obj.number}}</a>
        </li>
        {% if page_obj.number < page_obj.paginator.num_pages %}
            <li>
                <span class="pagination-ellipsis">&hellip;</span>
            </li>
            <li>
                <a class="pagination-link" aria-label="Goto page {{page_obj.paginator.num_pages}}" href="?{% param_replace page=page_obj.paginator.num_pages %}">{{page_obj.paginator.num_pages}}</a>
            </li>
        {% endif %}
    {% else %}
        {% with page_obj.paginator.num_pages|add:"1" as max_pages %}
            {% for i in 1|range:max_pages %}
                <li>
                <a class="pagination-link {% if page_obj.number == i %}is-current{% endif %}" href="?{% param_replace page=i %}" aria-label="Page {{i}}" aria-current="page">{{i}}</a>
            </li>
            {% endfor %}
        {% endwith %}
    {% endif %}
  </ul>
</nav>