{% extends "base_with_box.html" %}
{% load i18n %}
{% block title %}{% trans "Internal Server Error" %}{% endblock title %}
{% block content %}
    {% blocktrans %}
    <p class="title has-text-danger has-text-centered">A Fatal Server Error Occurred</p>
    <div class="has-text-centered">
        Please contact the administrator immediately! <br>
        <span class="icon-text">
            <span class="icon">
                <i class="fa-solid fa-envelope"></i>
            </span>
            <span> <a href="mailto:{{ADMIN_EMAIL}}">{{ADMIN_EMAIL}}</a></span>
        </span>
    </div>
    {% endblocktrans %}
{% endblock content %}