<footer class="footer">
    <div class="content has-text-centered">
        <p>
            Website by Simon Seeger
        </p>
        <span>
            <a href="https://bulma.io">
                <img
                    src="https://bulma.io/images/made-with-bulma.png"
                    alt="Made with Bulma"
                    width="128"
                    height="24">
            </a>
            <a href="https://github.com/SFSeeger/Abitur-Song-Uploader">
                <span class="icon-text">
                    <span class="icon">
                        <i class="fa-brands fa-github"></i>
                    </span>
                    Visit on Github
                </span>
            </a>
        </span>
    </div>
</footer>