{% extends "base_with_box.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}{% trans "Reset Password" %}{% endblock title %}
{% block content %}
    <h1 class="title">{% trans "Reset Password" %}</h1>
    <p class="subtitle">{% trans "Enter your email and reset your password" %}</p>
    <form method="post">
        {% csrf_token %}
        {{form | crispy}}
        <button type="submit" class="button is-primary is-fullwidth is-rounded">{% trans "Submit" %}</button>
    </form>
    {% include 'helpers/submit_spinner.html' %}
{% endblock content %}