upstream app-server {
    server unix:/run/gunicorn.sock;    # for a file socket
}

server {
    listen 8080;
    listen [::]:8080;

    location /stub_status {
        stub_status;
    }
}

server {
    listen [::]:443 ssl ipv6only=on;
    listen 443 ssl; # managed by Certbot
    server_name {{website_url}};

    ssl_certificate {{cert_path}}/fullchain.pem; # managed by Certbot
    ssl_certificate_key {{cert_path}}/privkey.pem; # managed by Certbot
    include /etc/letsencrypt/options-ssl-nginx.conf; # managed by Certbot
    ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem; # managed by Certbot

    client_max_body_size 10M;

    ## Deny illegal Host headers
    if ($host !~* ^({{ website_url }})$ ) {
        return 444;
    }

    location /static {
        alias {{ static_dir }}/;
        autoindex on;
        autoindex_exact_size off;
        autoindex_format html;
        autoindex_localtime on;
    }

    location / {
        include proxy_params;
        proxy_read_timeout 200s;
        proxy_connect_timeout 200s;
        proxy_set_header Connection '';
        proxy_http_version 1.1;
        chunked_transfer_encoding off;
        
        proxy_pass http://app-server;
    }

}

server {
    if ($host = {{website_url}}) {
        return 301 https://$host$request_uri;
    } # managed by Certbot

    listen 80;
    listen [::]:80;
    server_name {{website_url}};
    return 404; # managed by Certbot
}
