<div id="spinnerModal" class="modal is-clipped">
    <div class="modal-background"></div>
    <div class="modal-content">
        <div class="has-text-white is-flex is-justify-content-center" style="height:6rem; width:100%;">
            <i class="fas fa-5x fa-spinner fa-pulse"></i>
        </div>
    </div>
</div>
<script>
    const forms = document.querySelectorAll('form');
    const spinner = document.querySelector("#spinnerModal");

    forms.forEach((form) => {
        form.addEventListener("submit", () => {
            spinner.classList.add('is-active');
        })
    })
</script>