{% extends 'filter_generic.html' %}
{% load i18n %}
{% load extensions %}
{% block title %}{% trans "Polls" %}{% endblock title %}
{% block actions %}
    <a href="{% url 'poll-create' %}" class="button is-link has-tooltip-arrow" data-tooltip="{% translate 'Add Poll' %}">
        <i class="fa-solid fa-square-poll-vertical"></i>
        <i class="fa-solid fa-plus pl-1"></i>
    </a>
{% endblock actions %}
{% block table_content %}
    <tr>
        <td>
            <a href="{% url 'question-filter' obj.id %}">
                <strong>{{obj}}</strong><br>
                <p class="has-text-grey">{{obj.description|bleach |truncatewords:5}}</p>
            </a>
        </td>
        <td>
            <span>{{obj.start_date}}</span><br>
            <soan>{{obj.end_date}}</soan>
        </td>
        <td>
            <button class="button is-small is-danger is-inverted " id="modal-trigger" onclick="fill_data(this)" data-target="PollDeleteModal" data-value="{% url 'poll-delete' obj.id %}">
                <i class="fa-solid fa-trash"></i>
            </button>
        </td>
    </tr>
{% endblock table_content %}
{% block modals %}
    {% include 'partials/delete_modal.html' with modal_name="PollDeleteModal" object_type="Umfrage" %}
{% endblock modals %}